<link rel="stylesheet" href="/assets/css/header.css">
<link rel="stylesheet" href="/assets/css/base.css">

<header id="header">
    <div class="header__left">
        <a href="#" class="header__page-home">
            <img src="/assets/img/logo.png" alt="header__logo" class="header__logo">
        </a>
    </div>
    <div class="header__center__admin">
        <ul class="header__nav">
            <li class="nav__item">
                <a href="/admin/product" class="header__nav-item-link element--active">
                    Quản lý sản phẩm
                </a>
            </li>
            <li class="nav__item">
                <a href="/admin/order" class="header__nav-item-link">
                    Quản lý đơn hàng
                </a>
            </li>
            <li class="nav__item">
                <a href="/admin/account" class="header__nav-item-link">
                    Quản lý tài khoản   
                </a>
            </li>
        </ul>
    </div>
    <div class="header__right">
        <div class="dropdown">
            <img src="/assets/img/adminAvatar.png" alt="Avatar" class="avatar" style="cursor: pointer;">
            <div style="min-width: 150px; right: -10px;" class="dropdown-content">
                <a class="nav-link mt-3" href="/admin/changePwd" style="color: black;">Đổi mật khẩu</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link mb-2" href="/admin/logout" style="color: black;">Đăng xuất</a>
            </div>
            <div style="border-top:50px;"></div>
        </div>
    </div>
</header>

<div class="clear" style="margin-bottom: 80px;"></div>