<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cửa hàng thời trang Bách Khoa</title>
    <link rel="stylesheet" href="./assets/css/login.css">
  </head>
  <body>
    <div class="container">
      <h1>Đăng nhập</h1>
      <form method="POST" action="/admin">
        <div class="form-control">
          <input type="text" id="username" placeholder="Tên đăng nhập" name="username" required/>
          <span></span>
          <small></small>
        </div>
        <div class="form-control">
          <input type="password" id="password" placeholder="Mật khẩu" name="password" required/>
          <span></span>
          <small></small>
        </div>
        <% if (locals.wrongAccount) { %>
          <p style="color: red;">Thông tin đăng nhập không chính xác!!</p>
        <% } %>
        <input type="submit" value="Đăng nhập" />
        <br><br>
      </form>
    </div>

  </body>
</html>
