<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cửa hàng thời trang Bách Khoa</title>
    <link rel="stylesheet" href="/assets/css/announce.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/font/themify-icons/themify-icons.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
    <%- include('layouts/navbarAdmin'); -%>
    <% if(check ) {%>
        <div class="my-modal">
            <div class="modal__inner sticky-top">
                <div class="modal__header">
                    <h5>Shop</h5>
                    <i class="fas fa-times"></i>
                </div>
                <div class="modal__body">
                    <h4><%= check %></h4>
                </div>
                <div class="modal__footer">
                    <button onclick="history.back()">Tiếp tục</button>
                  
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <div class="container py-5 px-5 my-5" style="width: 30%; border-style: ridge;">
        <h2 style="text-align: center;">Đổi Mật Khẩu</h2>
        <form method = "POST" action = "/admin/changePwd" >
            <div class="form-control">
                <input type="password" id="current-password" name = "currentPassword" placeholder="Mật khẩu hiện tại" />
                <span></span>
                <small></small>
            </div>
            
            <div class="form-control">
                <input type="password" id="next-password"  name = "nextPassword" placeholder="Mật khẩu mới" />
                <span></span>
                <small></small>
            </div>
        
            <div class="form-control">
                <input type="password" id="confirm-password"  name = "confirmPassword" 
                oninput="checkConfirmPassword()" placeholder="Nhập lại mật khẩu" />
                <span></span>
                <small></small>
            </div>
        
        
            <div id = "checkValidate" class="alert alert-danger" style = "visibility: hidden" role="alert">
            
            </div>
            <% if(notice) { %>
                <div class="alert alert-danger" role="alert">
                    <%= notice %>
                  </div>
                  <% } %>
            <div>
                <input type="submit" id = "submit" value="Đổi mật khẩu" disabled>
                <input type="button" id = "submit" value="Quay lại" onclick="history.back()">
            </div>
        </form>
    </div>

    <%- include('layouts/footer'); -%>

    <script>
        function checkConfirmPassword(){
            var confirmPassword = document.getElementById("confirm-password");
            var nextPassword = document.getElementById ("next-password");
            var msg = document.getElementById("checkValidate")
            var submit = document.getElementById("submit")
            if(confirmPassword.value !== nextPassword.value){
                msg.textContent = "Mật khẩu không chính xác";
                msg.style.visibility = "visible";
                submit.disabled = true;
                submit.style.cursor = "not-allowed"
            }else{
                msg.style.visibility = "hidden";
                msg.textContent = "";
                submit.disabled = false;
                submit.style.cursor = "pointer"
            }
        }
        
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
