.my-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
}

.modal__inner {
    width: 450px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    animation: showModal linear 0.2s;
    position: relative;
    margin: 200px auto;
    z-index: 5;
}

@keyframes showModal {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal__header {
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 14px;
}

.modal__body {
    padding: 15px;
}

.modal__body h4 {
    color: red;
    margin-bottom: 10px;
}

.modal__footer {
    padding: 15px;
    text-align: right;
}

.modal__footer button {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
