input[type="button"] {
    border: 0;
    background-color: #ED5A48;
    color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
}

.quantity {
    border: 1px solid #F4F3F3;
    height: 28px;
    width: 60px;
    text-align: center;
}
